<configuration>

    <appender name="RollingFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.directory}/application-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} [%5level] - %logger - %message %n in %thread: %xException%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="RollingFILE" />
    </root>

</configuration>
